@charset "utf-8";
/* CSS Document */

.hide{
  width: 0; height: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  visibility: hidden;
}


/* 전체 폰트 정리 */
/* 구글 폰트 연결 */

/* 한글폰트 */
/* font-family: 'Nanum Gothic', sans-serif; */

/* 영어폰트 */
/* font-family: 'Roboto', sans-serif; */
/* 공통점 -> div>article, header -> 가로 크기, 중앙위치 */
div>article,div>header{
  /* width: 1900px; */
  /* margin: 0 auto; */
}
img{
  max-width: 100%;
}

html{
  font: 16px '나눔고딕', sans-serif;
  color: #666666;
}


#wrap{
  margin: 0 auto;
}

/* header */

#wrap>#header{
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  z-index: 900;
  margin: 0 auto;
}
#wrap>#header:hover{
  background-color: #fff;
}

#header>header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 80px; */
  margin: 0 auto;
}
#header>header>h1{
  width: 50%;
  padding:0 10%;
  box-sizing:border-box;
  background-color: none;
}

#header>header>h1>a{
    display: block;
    width: 200px;
}

#header>header>nav{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #333;
}

a{
  color: #fff;
  text-decoration: none;
}
/* #header>header>nav>ul{
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header>header>nav>ul a{
  font-size: 25px;
  text-decoration: none;
  color: #fff;
} */

#header>header>nav>.menu01{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#header>header>nav>.menu01>li{
  line-height: 70px;
  /* position:relative; */
  
}
#header>header>nav>.menu02{
  width: 20%/* 160px */;
  display: flex;
  align-items: center;
  line-height: 70px;
}

#header>header>nav>.menu02>li:first-child{
  width: 50%;
  position: relative;
  text-align: center;
}
#header>header>nav>.menu02>li:first-child>ul{
  display: none;
}
#header>header>nav>.menu02>li:first-child:hover>ul{
  display: block;
  position: absolute;
  color: red;
  background-color: #000;
  width: 100%;
  text-align: center;
}
#header>header>nav>.menu02>li{
  width: 50%;
}

#header>header>p{
  display: none;
}

/* nav ul>li:nth-child(1):hover>div{
  display: block;
}
nav ul>li:nth-child(2):hover>div{
  display: block;
}
nav ul>li:nth-child(3):hover>div{
  display: block;
}
nav ul>li:nth-child(1):hover>div{} */

nav ul>li>div{
  display: none;
  position:absolute;
  width: 100%;
  left:0;  top:70px;
  background-color: rgba(51, 51, 51, 0.95);
  /* background-color: rgba(255, 253, 253, 0.733); */
}
/* nav ul>li:nth-child(6)>div{
  display:block;
} */
nav ul>li>div>p.close{
  position:absolute;
  right:10px;
  top:10px;
  width:50px; height:50px;
  /* background-color:red; */
  text-align: center;
}
nav ul>li>div>p.close>i{
  color: #fff;
  font-size: 50px;
  box-sizing: border-box;
}
nav ul>.sub02>div>p.close>i{
  color: #333;
}

nav ul>.sub01>div>ul{
  width:80%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px auto 37px;
  background-color: #fff;
}
nav ul>.sub01>div>ul>li{
  /* padding: 25px 0; */
  width: 20%;
  height: 100px;
  /* line-height: 100px; */
  border: 1px solid #222;
  border-left: none;
  box-sizing: border-box;
  text-align: center;
  padding: 25px 0;
}
nav ul>.sub01>div>ul>li:first-child{
  border-left: 1px solid #222;
}
nav ul>.sub01>div>ul>li a{
}
nav ul>.sub01>div>ul>li a>img{
}

nav ul>.sub01>div>p:last-child{
  width: 80%;
  margin: 0 auto 44px;
}
nav ul>.sub01>div>p:last-child>a{
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
nav ul>.sub01>div>p:last-child>a>span{
  font-size: 18px;
  color: #fff;
  width: 30px;
}
/* ============액티비티===== */

nav ul>.sub02>div{
  background-color: rgba(255, 255, 255, 0.95);
}

nav ul>.sub02>div>div{
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin: 100px auto 37px;
}
nav ul>.sub02>div>div>ul{
  width: 33%;
  padding: 15px 70px;
}
nav ul>.sub02>div>div>dl{
  width: 33%;
  border-left: 1px solid #999;
  box-sizing: border-box;
  padding: 15px 70px;
  position: relative;
}
nav ul>.sub02:nth-child(3)>div>div>ul{}
nav ul>.sub02:nth-child(3)>div>div>ul>li:first-child{
  margin-bottom: 20px;
}
nav ul>.sub02:nth-child(3)>div>div>ul>li>a{
  display: block;
  font-size: 18px;
  line-height: 18px;
  color: #333;
}
nav ul>.sub02:nth-child(3)>div>div>ul>li:last-child{
  font-size: 14px;
  line-height: 20px;
  border-top: 1px solid #999;
  padding-top: 20px;
}



nav ul>.sub02:nth-child(3)>div>div>dl>dt{
  text-align: center;
  color: #fff;
  width: 100%;
  line-height: 180px;
  font-size: 20px;
}
nav ul>.sub02:nth-child(3)>div>div>dl>dt>a{
  display: block;
  background: url(../images/nav/activity/kids.jpg) no-repeat center;
  background-size: 100%;
}
nav ul>.sub02:nth-child(3)>div>div>dl>dd>a{
  display: block;
  font-size: 18px;
  color: #333;
  position: relative;
  border-bottom: 1px solid #999;
  line-height: 48px;
}
nav ul>.sub02:nth-child(3)>div>div>dl>dd>a>span{
  position: absolute;
  right: 0; top: 0;
}

/* ==========예약==================== */
nav ul>.sub02:nth-child(4)>div>div>ul:first-child>li{
  margin-bottom: 30px;
}
nav ul>.sub02:nth-child(4)>div>div>ul:first-child a{
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #333;
}
nav ul>.sub02:nth-child(4)>div>div>ul:first-child>li:last-child{
  font-size: 14px;
  border-top: 1px solid #999;
  line-height: 20px;
  padding-top: 20px;
}
nav ul>.sub02:nth-child(4) .tagTable{
  border-left: 1px solid #999;
}
nav ul>.sub02:nth-child(4) .tagTable>li{
  margin-bottom: 25px;
}
nav ul>.sub02:nth-child(4) .tagTable>li a{
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #333;
}
nav ul>.sub02:nth-child(4) .tagTable>li:nth-child(2)>ul{
  width: 315px;
  height: 95px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
nav ul>.sub02:nth-child(4) .tagTable>li:nth-child(2)>ul>li{
  width: 100px;
  /* height: 43px; */
  border: 1px solid #999;
  text-align: center;
  box-sizing: border-box;
}
nav ul>.sub02:nth-child(4) .tagTable>li:nth-child(2)>ul>li a{
  display: block;
  font-size: 16px;
  line-height: 43px;
}
nav ul>.sub02:nth-child(4) dl{}
nav ul>.sub02:nth-child(4) dl>dt{
  background: url(../images/nav/activity/wellness.jpg) no-repeat center;
  background-size: 100%;
  width: 280px;
}
nav ul>.sub02:nth-child(4) dl>dt>a{
  display: block;
  line-height: 180px;
  text-align: center;
  font-size: 20px;
}
nav ul>.sub02:nth-child(4) dl>dd{
  width: 280px;
  border-bottom: 1px solid #999;
  box-sizing: border-box;
}
nav ul>.sub02:nth-child(4) dl>dd>a{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 48px;
  color: #333;
  font-weight: bold;
}


/* ==========스토어==================== */

nav ul>.sub02:nth-child(5)>div>div>ul>li{
  font-size: 20px;
}
nav ul>.sub02:nth-child(5)>div>div>ul>li>a{
  display: block;
  line-height: 20px;
  color: #333;
  font-weight: bold;
}
nav ul>.sub02:nth-child(5)>div>div>ul>li:nth-child(2){
  /* margin-bottom: 15px; */
}
nav ul>.sub02:nth-child(5)>div>div>ul>li>ul{
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}
nav ul>.sub02:nth-child(5)>div>div>ul>li>ul>li{
  line-height: 30px;
  /* padding: 12px 0; */
}
nav ul>.sub02:nth-child(5)>div>div>ul>li>ul a{
  display: flex;
  align-items: center;
  color: #999;
  font-size: 16px;
}
nav ul>.sub02:nth-child(5)>div>div>ul>li>ul a>span{
  font-size: 6px;
  margin-right: 8px;
}
nav ul>.sub02:nth-child(5)>div>div>ul>li:nth-child(3){
  margin-bottom: 15px;
}
nav ul>.sub02:nth-child(5)>div>div>ul>li:last-child{
  border-top: 1px solid #999;
  padding-top: 15px;
}
nav ul>.sub02:nth-child(5)>div>div>ul>li:last-child p{
  font-size: 12px;
  color: #999;
  line-height: 20px;
}

nav ul>.sub02:nth-child(5)>div>div>dl>dt{
  text-align: center;
  color: #fff;
  width: 100%;
  line-height: 180px;
  font-size: 20px;
}
nav ul>.sub02:nth-child(5)>div>div>dl>dt>a{
  display: block;
  background: url(../images/nav/activity/store.jpg) no-repeat center;
  background-size: 100%;
}
nav ul>.sub02:nth-child(5)>div>div>dl>dd>a{
  display: block;
  font-size: 18px;
  color: #333;
  position: relative;
  border-bottom: 1px solid #999;
  line-height: 48px;
  font-weight: bold;
}
nav ul>.sub02:nth-child(5)>div>div>dl>dd>a>span{
  position: absolute;
  right: 0; top: 0;
}


/* ===========로그인===================== */

nav ul>.sub02:nth-child(6)>div>div>ul>li{
}
nav ul>.sub02:nth-child(6)>div>div>ul>li:first-child{
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
nav ul>.sub02:nth-child(6)>div>div>ul>li:nth-child(2){
  margin-bottom: 20px;
}
nav ul>.sub02:nth-child(6)>div>div>ul>li:nth-child(2) p{
  font-size: 16px;
  line-height: 30px;
}
nav ul>.sub02:nth-child(6)>div>div>ul>li:nth-child(2) p>span{
  margin-right: 10px;
}
nav ul>.sub02:nth-child(6)>div>div>ul .event{
  border-top: 1px solid #999;
}
nav ul>.sub02:nth-child(6)>div>div>ul .event>ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav ul>.sub02:nth-child(6)>div>div>ul .event>ul>li:first-child{
  padding: 20px 0;
}
nav ul>.sub02:nth-child(6)>div>div>ul .event>ul>li:first-child a{
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  border-bottom: 1px solid #6c7594;
  color: #333;
}
nav ul>.sub02:nth-child(6)>div>div>ul .event>ul>li:last-child{
  background-color: #6c7594;
  width: 100%;
  text-align: center;
}
nav ul>.sub02:nth-child(6)>div>div>ul .event>ul>li:last-child a{
  font-size: 18px;
  font-weight: bold;
}
/* 로그인 폼 */
#logIn{
  width: 33%;
  padding: 15px 70px;
}
#logIn>fieldset{
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logIn .logform01{
  /* width: 100%; */
  margin-bottom: 10px;
}
#logIn .logform01>li{
  /* width: 100%; */
  box-sizing: border-box;
}
#logIn .logform01 input{
  display: block;
  width: 260px;
  line-height: 46px;
  text-indent: 20px;
  font-size: 14px;
}
#logIn .logform01>li:first-child{
  margin-bottom: 10px;
}
#logIn .logform01>li:last-child{

}
#logIn>fieldset>p{
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logIn>fieldset>p>input{
  display: block;
  border: none;
  background-color: #333;
  color: #fff;
  width: 270px;
  font-size: 20px;
  line-height: 46px;
}
#logIn>fieldset>.logform02{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 260px;
}
#logIn>fieldset>.logform02>li{
  width: 50%;
  font-size: 13px;
  color: #666;
  line-height: 46px;
}
#logIn>fieldset>.logform02>li a{
  font-size: 13px;
  color: #666;
}
#logIn>fieldset>.logform03{
  width: 260px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}
#logIn>fieldset>.logform03>li{
  line-height: 46px;
  width: 25%;
  text-align: center;
  margin-right: 2px;
}
#logIn>fieldset>.logform03>li:last-child{
  margin-right: 0;
}
#logIn>fieldset>.logform03>li:nth-child(1){
  background-color: #3a5691;
}
#logIn>fieldset>.logform03>li:nth-child(2){
  background-color: #dddddd;
}
#logIn>fieldset>.logform03>li:nth-child(3){
  background-color: #1ec800;
}
#logIn>fieldset>.logform03>li:nth-child(4){
  background-color: #fae100;
}
#logIn>fieldset>.logform03>li:nth-child(5){
  background-color: #333333;
}

nav ul>.sub02:nth-child(6)>div>div>dl{
  /* background-color: red; */
}
nav ul>.sub02:nth-child(6)>div>div>dl>dt{
  
}
nav ul>.sub02:nth-child(6)>div>div>dl>dt a{
  display: block;
  background: url(../images/nav/activity/cool.jpg) no-repeat center;
  background-size: 100%;
  width: 280px;
  line-height: 180px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  box-sizing: border-box;
}
nav ul>.sub02:nth-child(6)>div>div>dl>dd{
  color: #333;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #999;
}
nav ul>.sub02:nth-child(6)>div>div>dl>dd a{
  display: block;
  line-height: 50px;
 
  color: #333;
}


/* ====================서브메뉴 끝========================== */




/* box01 ============================*/
#box01{
  margin: 0 auto;
}
#box01>article{
  background: url(../images/main/main_01.jpg) no-repeat center;
  background-size: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto 100px;
}
#box01>article>header{
  /* width: 780px; */
  /* margin-left: -390px; */
  text-align: center;
  color: #fff;
  text-shadow: 1px 2px 3px #333
}
#box01>article>header>h3{
  font-size: 83px;
  margin-bottom: 30px;
  text-align: justify;
}
#box01>article>header>p{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: justify;
}
#box01>article>header>p>span:first-child{
  font-size: 23px;
  line-height: 27px;
  font-family: 'Nanum Gothic', sans-serif;
}
#box01>article>header>p>span:last-child{
  font-size: 16px;
  line-height: 20px;
}


#box01>article>div{
  width: 100%;
  position: absolute;
  bottom: 0; left: 0;
  background-color: #666;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
}
#box01>article>div>form{}
#box01>article>div>form>fieldset{}
#box01>article>div>form>fieldset>ul{
  width: 80.7142857%/* 1130px */;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#box01>article>div>form>fieldset>ul>li:first-child{
  /* width: 377px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-left: 0;
}
#box01>article>div>form>fieldset>ul>li:first-child>label{
  width: 100%;
  text-align: left;
}
#box01>article>div>form>fieldset>ul>li:first-child>input{
  width: 45%;
  font-size: 20px;
}


#box01>article>div>form>fieldset>ul>li{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 0.884955752%/* 10px */;
  /* height: 90px; */
  box-sizing: border-box;
}
#box01>article>div>form>fieldset>ul>li>label{
  color: #fff;
  line-height: 33px;
  font-size: 18px;
}
#box01>article>div>form>fieldset>ul>li>input{
  line-height: 50px;
  width: 100%;
  box-sizing: border-box;
}
#box01>article>div>form>fieldset>ul>li:last-child{
  
}
#box01>article>div>form>fieldset>ul>li:last-child>label{
  height: 50%;
}
#box01>article>div>form>fieldset>ul>li:last-child>input{
  width: 100%;
  height: 56px;
  font-size: 20px;
  padding: 0 45px;
  text-align: center;
  background-color: #333333;
  color: #fff;
  border: none;
}



#box02{
  margin-bottom: 80px;

}
#box02>article{
  /* background-color: aqua; */
  margin: 0 auto;
  width: 98% /* 1400px */;
}
#box02>article>ul{
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 180px; */
}

#box02>article>ul.str{
  /* width: 1400px; */
  /* background-color: red; */
  color: #333;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin: 0 auto 180px;
}

#box02>article>ul.str>li{
  overflow:hidden;
  height: 180px;
}

/* on off */
#box02>article>ul.str>li.on{}
#box02>article>ul.str>li.off{}

#box02>article>ul.str>li.on dt{
  display: none;
}
#box02>article>ul.str>li.on dd{}




#box02>article>ul.str>li:nth-child(1){
  width:20%;
  margin-left: 0;
}
#box02>article>ul.str>li:nth-child(1)>a{
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
}
#box02>article>ul.str>li:nth-child(2){
  width:50%;
}
#box02>article>ul.str>li:nth-child(3){
  width:20%;
}

#box02>article>ul.str>li:nth-child(3)>a{
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
}

#box02>article>ul:nth-child(1)>li{
  /* height: 185px; */
  /* background-color: red; */
  text-align: center;
  position: relative;
}
#box02>article>ul:nth-child(1)>li:nth-child(1){
  /* width: 220px; */
  /* border-top-left-radius: 50%;
  border-bottom-left-radius: 50%; */
  /* overflow: hidden; */
}
#box02>article>ul:nth-child(1)>li:nth-child(2){
  /* width: 220px; */
  /* overflow: hidden; */
}
#box02>article>ul:nth-child(1)>li:nth-child(3){
  /* width: 220px; */
  /* border-bottom-right-radius: 50%;
  border-top-right-radius: 50%; */
  /* overflow: hidden; */
}

#box02>article>ul.str>li>a{
  display: block;
  color: #fff;
  font-size: 32px;
  /* line-height: 180px; */
}

#box02>article>ul:nth-child(1)>li>a dl{
  width: 100%;
  height: 100%;
  position:relative;
}
#box02>article>ul:nth-child(1)>li.on>a dl>dt{
  position:absolute;
  left:0; top:0;
  width: 100%;
  /* display: none; */
  display:flex;
  justify-content: center;
  align-items: center;
}
#box02>article>ul:nth-child(1)>li>a dl>dt{
  position:absolute;
  left:0; top:0;
  width: 100%;
  display: none;
  /* display:flex; */
  justify-content: center;
  align-items: center;
}
#box02>article>ul:nth-child(1)>li>a dl>dd{
  position:absolute;
  left:0; top:0;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


#box02>article>ul:nth-child(1)>li:nth-child(1)>a{
  /* width: 880px; */
  height: 100%;
  background: url(../images/main/main_back.jpg) no-repeat left top;
  /* background-size: 100%; */
}

#box02>article>ul:nth-child(1)>li:nth-child(2)>a{
  /* width: 880px; */
  height: 100%;
  background: url(../images/main/main_back.jpg) no-repeat center top;
  /* background-size: 100%; */
}
#box02>article>ul:nth-child(1)>li:nth-child(3)>a{
  /* width: 880px; */
  height: 100%;
  background: url(../images/main/main_back.jpg) no-repeat right top;
  /* background-size: 100%; */
}




#box02>article>ul:nth-child(2){
  /* width:1400px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 180px;
  justify-content: center;
}

#box02>article>ul:nth-child(2)>li{
  text-align: center;
  width: 50%;
  font-size: 38px;
  line-height: 110px;
  color: #333;
  box-sizing: border-box;
} 
#box02>article>ul:nth-child(2)>li:first-child{
  border: 1px solid #333;
  border-bottom: none;
}
#box02>article>ul:nth-child(2)>li:last-child{
  border-bottom: 1px solid #999;
  color: #999;
}

/* =======str3============================= */

#box02>article>ul.str3{
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
#box02>article>ul.str3>li{
  font-size: 30px;
  margin-left: 115px;
  color: #333;
  box-sizing: border-box;
}
#box02>article>ul.str3>li:first-child{
  margin-left: 0;
}
#box02>article>ul.str3>li:last-child{
  color: #999;
}

#box02>article>p{
  width: 100%;
  background-color: #333;
  text-align: center;
  color: #fff;
  line-height: 60px;
  margin-bottom: 43px;
}
#box02>article>section{
  margin: 0 auto;
}
#box02>article>section>#gallery{
  /* background-color: red; */
  position: relative;
}
#gallery>#show{
  /* background-color: green; */
  width: 80%/* 1000px */;
  height: 405px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

#gallery #all{
  /* background-color: yellow; */
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0; top: 0;
  height: 100%;
  /* 8000 */
  width:800%;
}
#gallery #all>ul{
  width:50%/* 4000px */;
  display: flex;
  align-items: center;
}
#gallery #all>ul>li{
  width: 25%/* 1000px */;
  /* height: 100%; */
  
  box-sizing:border-box;
  background-color: #fff;
}
#gallery #all>ul>li>div{
  padding-left: 52% /* 500px */;
  background: url(../images/main/main_Room.jpg) no-repeat left;
  background-size: 50%/* 500px */;
  /* padding: 60px 30px; */
  background-color: #fff;
  box-sizing: border-box;
  padding-top: 50px;
  padding-right: 2%;
  border: 1px solid #999;
}
#gallery #all>ul>li>div>p:nth-child(1){
  font-size: 38px;
  line-height: 40px;
  margin-bottom: 30px;
  /* color: #fff; */
}
#gallery #all>ul>li>div .info01{
  display: flex;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 30px;
}
#gallery #all>ul>li>div .info01>dt{
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
  margin-left: 20px;
}
#gallery #all>ul>li>div .info01>dt:first-child{
  margin-left: 0;
}

#gallery #all>ul>li>div .info01>dd{
  font-size: 16px;
}
#gallery #all>ul>li>div .info02{
  display: flex;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 30px;
}
#gallery #all>ul>li>div .info02>dt{
  margin-right: 15px;
}

#gallery #all>ul>li>div .info03{
  display: flex;
  justify-content: flex-end;
  line-height: 35px;
  margin-bottom: 10px;
}
#gallery #all>ul>li>div .info03>dt{
  font-size: 16px;
  margin-right: 15px;
}
#gallery #all>ul>li>div .info03>dd{
  font-size: 33px;
}
#gallery #all>ul>li>div>p:nth-child(5){
  text-align: end;
  font-size: 13px;
  line-height: 15px;
}
#gallery #all>ul>li>div>p:last-child{
  text-align: end;
  line-height: 50px;
}
#gallery #all>ul>li>div>p:last-child>button{
  font-size: 18px;
}


#gallery .prev{
  width: 40px;
  background-color: #999;
  border-radius: 50%;
  position: absolute;
  left: 10%; top: 50%;
  text-align: center;
  font-size: 40px;
}
#gallery .prev>i{
  display: block;
  line-height: 40px;
  color: #fff;
}
#gallery .next{
  width: 40px;
  background-color: #999;
  border-radius: 50%;
  position: absolute;
  right: 10%; top: 50%;
  text-align: center;
  font-size: 40px;
}
#gallery .next>i{
  display: block;
  line-height: 40px;
  color: #fff;
}


footer{
  background-color: #14151d;
  margin: 0 auto;
  padding-top: 50px;
}
footer #footer01{
  width: 98%/* 1400px */;
  margin: 0 auto;
  /* background-color: #000; */
  padding-left: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: url(../images/logo/footerLogo.png) no-repeat left;
  background-size: 255px;
  background-position: 25% 50%;
}
footer #footer01>div:first-child{
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
footer #footer01>div:first-child>dl{
  width: 30%;
}
footer #footer01>div:first-child dt{
  color: #cccccc;
  font-size: 16px;
  margin-bottom: 16px;
}
footer #footer01>div:first-child dd{
  margin-bottom: 16px;
}
footer #footer01>div:first-child dd:last-child{
  margin-bottom: 0;
}
footer #footer01>div:first-child dd>a{
  text-decoration: none;
  color: #888889;
  font-size: 16px;
}

footer #footer01>ul{
  display: flex;
  margin-bottom: 35px;
}
footer #footer01>ul>li{
  margin-right: 2%;
}
footer #footer01>ul>li:first-child{
  font-weight: bold; 
}

footer #footer01>ul>li>a{
  text-decoration: none;
  color: #888889;font-size: 16px;
}

#footer01 .foot01Last{
  display: flex;
  border-top: 1px solid #888889;
  padding-top: 35px;
}
#footer01 .foot01Last>.last01{
  width: 50%/* 700px */;
}
#footer01 .foot01Last>.last01>dl:nth-child(1){
  width: 100%/* 270px */ ;
  margin-bottom: 140px;
  color: #888889;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#footer01 .foot01Last>.last01>dl:first-child dt{
  font-size: 13px;
  /* width: 45%; */
  line-height: 30px;
}
#footer01 .foot01Last>.last01>dl:first-child dd{
  font-size: 18px;
  /* width: 45%; */
  line-height: 25px;
}

#footer01 .foot01Last>.last01>dl:nth-child(2){
  width: 100% /* 450px */;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  color: #4d4d4e;
  line-height: 30px;
  margin-bottom: 25px;
}
.last01>dl:nth-child(2)>dt{
  margin-right: 2%;
}
.last01>dl:nth-child(2)>dd{
  margin-right: 2%;
}
.last01>dl:nth-child(2)>dd:nth-child(8){
  margin-right: 2%;
}

#footer01 .foot01Last>.last01>small{
  font-size: 13px;
  color: #4d4d4e;
}

.last02 dl{
  font-size: 13px;
  color: #888889;
}


footer #footer02{
  width: 98%;
}
footer #footer02>ul{
  display: flex;
  justify-content: space-around
}
footer #footer02>ul{
  line-height: 140px;
}

.last02{
  /* background-color: red; */
  width: 50%;
}

.last02>dl{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  font-size: 9px;
}

.last02>dl>dd{
  line-height: 14px;
}

.last02>dl:nth-child(1)>dt{
  width: 35px;
  height: 30px;
  background: url(../images/footerMark/ico1_nba01.png) no-repeat center;
  background-size: 100%;
  margin-right: 10px;
}
.last02>dl:nth-child(2)>dt{
  width: 35px;
  height: 30px;
  background: url(../images/footerMark/ico2_iEcoAward01.png) no-repeat center;
  background-size: 100%;
  margin-right: 10px;
}
.last02>dl:nth-child(3)>dt{
  width: 35px;
  height: 30px;
  background: url(../images/footerMark/ico3_tripadvisor01.png) no-repeat center;
  background-size: 100%;
  margin-right: 10px;
}
.last02>dl:nth-child(4)>dt{
  width: 35px;
  height: 30px;
  background: url(../images/footerMark/ico4_ecoLabel01.png) no-repeat center;
  background-size: 100%;
  margin-right: 10px;
}
.last02>dl:nth-child(5)>dt{
  width: 35px;
  height: 30px;
  background: url(../images/footerMark/ico5_ismsp01.png) no-repeat center;
  background-size: 100%;
  margin-right: 10px;
}
.last02>dl:nth-child(5)>dd{
  display: flex;
  display: flex;
  flex-direction: column;
  font-size: 9px;
}
.last02>dl:nth-child(5)>dd dl{
  font-size: 9px;
  display: flex;
}
.last02>dl:nth-child(5)>dd dl:first-child{
  margin-bottom: 5px;
}
.last02>dl:nth-child(5)>dd>dl>dt{
  margin-right: 10px;
}


.last02>p{
  margin-top: 10px;
  text-align: end;
  border-bottom: 1px solid #999;
  box-sizing: border-box;
  padding-bottom: 5px;
  font-size: 13px;
}