@media screen and (min-width:1400px){
    /* 98% -> 1400px */
    #box02>article>ul:nth-child(2){
        width: 1400px ;     
      }
    
      #box02>article>ul.str{
        width: 1400px;
      }
      #box02>article>ul:nth-child(2){
        width: 1400px;
      }
      #gallery>#show{
        width: 1000px;
      }
}

@media screen and (max-width:1399px) and (min-width:980px) {

}

@media screen and (max-width:979px) and (min-width:580px){
  #header>header>nav{
    display: none;
  }
  #header>header>nav>ul{
    
  }

}