@media screen and (min-width:1400px){
    /* 98% -> 1400px */
    #box02>article>ul:nth-child(2){
        width: 1400px ;     
      }
    
      #box02>article>ul.str{
        width: 1400px;
      }
      #box02>article>ul:nth-child(2){
        width: 1400px;
      }
      #gallery>#show{
        width: 1000px;
      }


}

@media screen and (max-width:1399px) and (min-width:980px) {
  #gallery .prev{
    left: 2%; 
  }
  #gallery .next{
    right: 2%; 
  }
  #box01>article>div>form>fieldset>ul>li>label{
    font-size: 14px;
  }
  footer #footer01>ul>li>a{
    font-size: 14px;
  }
  /* nav */
  nav ul>.sub02:nth-child(3)>div>div{
    width: 90%;
  }
  nav ul>.sub02:nth-child(3)>div>div>ul{
    width: 50%;
    padding: 15px 10px;
    box-sizing:border-box;
  }
  nav ul>.sub02:nth-child(3)>div>div>dl{
    width: 50%;
    border-left: 1px solid #999;
    box-sizing: border-box;
    padding: 15px 10px;
  }

  nav ul>.sub02:nth-child(4)>div>div{
    width: 90%;
  }
  nav ul>.sub02:nth-child(4)>div>div>ul{
    width: 33.3333%;
    padding: 15px 10px;
    box-sizing:border-box;
  }
  nav ul>.sub02:nth-child(4)>div>div>dl{
    width: 33.3333%;
    border-left: 1px solid #999;
    box-sizing: border-box;
    padding: 15px 10px;

  }
  /*  */
  nav ul>.sub02:nth-child(4) .tagTable{
    border-left: 1px solid #999;
  }
  nav ul>.sub02:nth-child(4) .tagTable>li{
    margin-bottom: 25px;
  }
  nav ul>.sub02:nth-child(4) .tagTable>li a{
    display: block;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: #333;
  }
  nav ul>.sub02:nth-child(4) .tagTable>li:nth-child(2)>ul{
    width: auto;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
  }
  nav ul>.sub02:nth-child(4) .tagTable>li:nth-child(2)>ul>li{
    width:29.3% ;
    /* height: 43px; */
    margin-bottom:10px;
  }
  /*  */

  nav ul>.sub02:nth-child(5)>div>div{
    width: 90%;
  }
  nav ul>.sub02:nth-child(5)>div>div>ul{
    width: 50%;
    padding: 15px 10px;
    box-sizing:border-box;
  }
  nav ul>.sub02:nth-child(5)>div>div>dl{
    width: 50%;
    border-left: 1px solid #999;
    box-sizing: border-box;
    padding: 15px 10px;
  }

  /*  */
  nav ul>.sub02:nth-child(6)>div>div{
    width: 90%;
  }
  nav ul>.sub02:nth-child(6)>div>div>ul{
    width: 33.3333%;
    padding: 15px 10px;
    box-sizing:border-box;
  }
  nav ul>.sub02:nth-child(6)>div>div>dl{
    width: 33.3333%;
    border-left: 1px solid #999;
    box-sizing: border-box;
    padding: 15px 10px;
  }
/* 로그인 */
#logIn{
  width: 33%;
  padding: 15px 10px;
  box-sizing:border-box;
}
#logIn .logform01{
  width:100%;
}
#logIn .logform01 input{
  display: block;
  width: 100%;
  line-height: 46px;
  text-indent: 20px;
  font-size: 14px;
  box-sizing:border-box;

}
#logIn .logform01>li:first-child{
  margin-bottom: 10px;
}
#logIn .logform01>li:last-child{

}
#logIn>fieldset>p{
  width: 100%;
}
#logIn>fieldset>p>input{
  width:100%;
}
#logIn>fieldset>.logform02{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
#logIn>fieldset>.logform02>li{
  width: 50%;
  font-size: 13px;
  color: #666;
  line-height: 46px;
}
#logIn>fieldset>.logform02>li a{
  font-size: 13px;
  color: #666;
}
#logIn>fieldset>.logform03{
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
}
#logIn>fieldset>.logform03>li{
  line-height: 46px;
  width: 46px;
  text-align: center;
  margin-right: 0;
}
#logIn>fieldset>.logform03>li:last-child{
  margin-right: 0;
}
#logIn>fieldset>.logform03>li:nth-child(1){
  background-color: #3a5691;
}
#logIn>fieldset>.logform03>li:nth-child(2){
  background-color: #dddddd;
}
#logIn>fieldset>.logform03>li:nth-child(3){
  background-color: #1ec800;
}
#logIn>fieldset>.logform03>li:nth-child(4){
  background-color: #fae100;
}
#logIn>fieldset>.logform03>li:nth-child(5){
  background-color: #333333;
}


}


/* ============테블릿===================== */


/* ============테블릿===================== */


/* ============테블릿===================== */


/* ============테블릿===================== */

@media screen and (max-width:979px) and (min-width:580px){
  /* header */
  #wrap>#header{
    background-color: #eae9e8;
  }
  #header>header{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    position: relative;
    width: 90vw;
  }
  #header>header>h1{
    width: 50%;
    padding:0;
    padding-top: 10px;
    box-sizing:border-box;
    background-color: none;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  #header>header>h1>a{
    display: block;
    width: none;
    text-align: center;
    line-height: 50px;
}

#header>header>p{
  display: block;
  font-size: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
}


  #header>header>nav{
    display: none;
    position: fixed;
    width: 90vw;
    left: 5vw;
    top: 10%;
    border-radius: 15px;
    justify-content: center;
    background-color: silver;
    height: 80%;
  }
  #header>header>nav>.menu01{
    /* display: none; */
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  #header>header>nav>.menu01>li{
    line-height: 0;
    font-size: 20px;
    padding: 10px 0;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    background-color: #333;
    border-radius: 15px;
  }
  nav ul>li>div{
    left:0;  top:0px;
  }
  /* sub01 */
  nav ul>.sub01>div>ul{
    width:80%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px auto 37px;
    background-color: #fff;
  }
  nav ul>.sub01>div>ul>li{
    display: none;
    width: auto;
    height: auto;
    border: none;
    border-left: none;
    padding: 0 0;
  }
  nav ul>.sub01>div>ul>li:first-child{
    border-left: none;
  }
  nav ul>.sub01>div>ul>li a{
  }
  nav ul>.sub01>div>ul>li a>img{
    display: none;
  }

  /* 액티비티 */
  nav ul>.sub02:nth-child(3)>div>div{
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  nav ul>.sub02:nth-child(3)>div>div>ul{
    width: 100%;
    padding: 0 0;
    box-sizing:border-box;
  }
  nav ul>.sub02:nth-child(3)>div>div>dl{
    width: 100%;
    border-left: none;
    box-sizing: border-box;
    padding: 0 0;
  }
  nav ul>.sub02:nth-child(3)>div>div>dl dt{
    display: none;
  }

  /* 예약 */
  nav ul>.sub02:nth-child(4)>div>div{
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  nav ul>.sub02:nth-child(4)>div>div>ul{
    width: 100%;
    padding: 0;
    box-sizing:border-box;
  }
  nav ul>.sub02:nth-child(4)>div>div>dl{
    width: 100%;
    border-left: none;
    box-sizing: border-box;
    padding: 0;

  }
  nav ul>.sub02:nth-child(4)>div>div>dl dt{
    display: none;
  }
  nav ul>.sub02:nth-child(4) dl>dd{
    width: 100%;
  }
  nav ul>.sub02:nth-child(4) dl>dd>a{
    display: inline;
  }
  /*  */
  nav ul>.sub02:nth-child(4) .tagTable{
    border-left: none;
  }
  nav ul>.sub02:nth-child(4) .tagTable>li{
    margin-bottom: 10px;
  }
  nav ul>.sub02:nth-child(4) .tagTable>li a{
    display: block;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: #333;
  }
  nav ul>.sub02:nth-child(4) .tagTable>li:nth-child(2)>ul{
    width: auto;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
  }
  nav ul>.sub02:nth-child(4) .tagTable>li:nth-child(2)>ul>li{
    width:29.3% ;
    /* height: 43px; */
    margin-bottom:10px;
  }

  /* 스토어 */
  nav ul>.sub02:nth-child(5)>div>div{
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  nav ul>.sub02:nth-child(5)>div>div>ul{
    width: 100%;
    padding: 0 0;
    box-sizing:border-box;
  }
  nav ul>.sub02:nth-child(5)>div>div>dl{
    width: 100%;
    border-left: none;
    box-sizing: border-box;
    padding: 0 0;
  }
  nav ul>.sub02:nth-child(5)>div>div>dl dt{
    display: none;
  }

  /* 로그인 */
  nav ul>.sub02:nth-child(6)>div>div{
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  nav ul>.sub02:nth-child(6)>div>div>ul{
    width: 100%;
    padding: 0 0;
    box-sizing:border-box;
  }
  nav ul>.sub02:nth-child(6)>div>div>dl{
    width: 100%;
    border-left: none;
    box-sizing: border-box;
    padding: 0 0;
  }
  nav ul>.sub02:nth-child(6)>div>div>dl dt{
    display: none;
  }
  nav ul>.sub02:nth-child(6)>div>div>ul>li:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #logIn{
    width: 100%;
  }
  /*  */



  #header>header>nav>.menu02{
    width: auto;
  }
  #header>header>nav>.menu02>li{
    width: auto;
  }
  #header>header>nav>.menu02>li:first-child{
    display: none;
  }
  #header>header>nav>.menu02>li{
    text-align: center;
  }

  /* box01 */
  #box01>article{
    margin: 0 auto 0;
  }
  #box01>article>header{
    /* width: 780px; */
    /* margin-left: -390px; */
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px 3px #333;
    margin-bottom: 10%;
  }
  #box01>article>header>h3{
    font-size: 23px;
    margin-bottom: 0;
    text-align: justify;
  }
  #box01>article>header>p{
    display: none
  }

  #box01>article>div{
    width: 90%;
    position: unset;
    left: 10%; bottom: 0;
    background-color: #333333;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
  }
  #box01>article>div>form{
    margin: 0 auto;
  }
  #box01>article>div>form>fieldset>ul{
    width: 90%/* 1130px */;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  #box01>article>div>form>fieldset>ul>li{
    margin-left: 0/* 10px */;
  }

  #box01>article>div>form>fieldset>ul>li:nth-child(2){
    width: 30%;
  }
  #box01>article>div>form>fieldset>ul>li:nth-child(3){
    width: 30%;
  }
  
  #box01>article>div>form>fieldset>ul>li:nth-child(4){
    width: 30%;
  }
  #box01>article>div>form>fieldset>ul>li:nth-child(4)>label>span{
    font-size: 8px;
  }

  #box01>article>div>form>fieldset>ul>li:first-child{
    width: 100%;
    border-bottom: 1px solid #999;
    padding-bottom: 5%;
    margin-bottom: 5%;
  }
  #box01>article>div>form>fieldset>ul>li:last-child{
    width: 100%;
    margin-top: 5%;
  }
  #box01>article>div>form>fieldset>ul>li:last-child>input{
    width: 100%;
    background-color: #999;
    border-radius: 30px;
  }

  #box01>article>div>form>fieldset>ul>li>input{
    line-height: 40px;
  }

  #box01>article>div>form>fieldset>ul>li>label{
    line-height: 28px;
    font-size: 14px;
  }



  #box02>article>ul:nth-child(2){
    /* width:1400px; */
    display: none;
  }
  #box02>article>ul.str3{
    display: none;
  }
  #box02>article>p{
    display: none;
  }

  #box02>article{
    margin: 0 auto;
    background-color: #7c5e4e;
    padding-top: 5vw;
    padding-bottom: 5vw;
    width: 100%;
    overflow: hidden;
  }

  #box02>article>ul.str{
    justify-content: flex-start;
    width: auto;
    margin: 0 5vw 5%;
  }
  
  #box02>article>ul.str>li{
    height: auto;
  }

  #box02>article>ul:nth-child(1)>li{
    border: 1px solid #999;
    border-radius: 15px;
  }
  
  #box02>article>ul.str>li:nth-child(1){
    width: 18%/* 135px */;
    margin-right: 5%;
  }
  #box02>article>ul.str>li:nth-child(2){
    width: 18%/* 135px */;
    margin-right: 5%;
  }
  #box02>article>ul.str>li:nth-child(3){
    width: 18%/* 135px */;
  }
  
  #box02>article>ul:nth-child(1)>li>a dl{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #box02>article>ul:nth-child(1)>li>a dl>dd{
    width: auto;
    height: auto;
  }

  #box02>article>ul.str>li>a{
    background-size: 0;
    font-size: 13px;
    line-height: 18px;
  }

  #box02>article>ul:nth-child(1)>li:nth-child(1)>a{
    background: none;
  }
  
  #box02>article>ul:nth-child(1)>li:nth-child(2)>a{
    background: none;
  }
  #box02>article>ul:nth-child(1)>li:nth-child(3)>a{
    background: none;
  }

  #box02>article>ul.str>li>a>dl dt{
    display: none;
  }


  /* 갤러리 */


  #gallery>#show{
    /* background-color: green; */
    width: 95vw/* 1000px */;
    height: auto;
    margin-left: 5vw;
  }
  #gallery #all{
    /* 8000 */
    width:280vw;
    position: unset;
  }

  #gallery #all>ul{
    width:140vw/* 4000px */;
  }

  #gallery #all>ul>li{
    width: 30vw;
    height: 40vw;
    margin-right: 5vw;
  }

  #gallery #all>ul>li>div{
    padding-left: 0 /* 500px */;
    background: url(../images/main/main_Room.jpg) no-repeat center;
    background-size: 100%/* 500px */;
    /* padding: 60px 30px; */
    background-color: none;
    box-sizing: border-box;
    padding: 0 5%;
    /* padding-top: 10%;
    padding-right: 2%; */
    border: 1px solid #999;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
  }

  #gallery #all>ul>li>div>p:nth-child(1){
    display: none;
  }
  #gallery #all>ul>li>div .info01{
    display: none;
  }
  #gallery #all>ul>li>div .info02{
    display: none;
  }
  #gallery #all>ul>li>div .info03{
    display: none;
  }
  #gallery #all>ul>li>div>p:nth-child(5){
    display: none;
  }

  #gallery #all>ul>li>div>p:last-child>button{
    font-size: 18px;
  }

  /* 버튼 */

  #gallery .prev{
    left: 75%; top: -25%;
  }
  #gallery .next{
    right: 10%; top: -25%;
  }


  /* footer */

  footer{
    padding-top: 0;
  }

  footer #footer01{
    width: 98%/* 1400px */;
    margin: 0 auto;
    padding-left: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: none;
  }
  footer #footer01>div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
  }

  footer #footer01>div:first-child>dl{
    width: 100%;
  }

  footer #footer01>div:first-child dt{
    border-bottom: 1px solid #999;
    width: 100%;
    box-sizing: border-box;
    line-height: 5vw;
    margin-bottom: 0;
  }

  footer #footer01>div:first-child dd{
    display: none;
  }

  footer #footer01>ul{
    justify-content: space-around;
    margin-bottom: 0;
  }
  footer #footer01>ul>li:first-child{
    font-weight: normal; 
    border-left: none;
  }
  footer #footer01>ul>li:first-child>a{
    border-left: none;
  }
  footer #footer01>ul>li{
    text-align: center;
    margin-right: 0;
 
    width: 20%;
    padding: 1vw 0;
  }
  footer #footer01>ul>li>a{
    line-height: 5vw;
    display: block;
    border-left: 1px solid #999;
    font-size: 12px;
  }


  #footer01 .foot01Last{
    display: flex;
    border-top: 1px solid #888889;
    padding-top: 0;
    flex-direction: column;
    align-items: center;
  }

  #footer01 .foot01Last>.last01{
    width: auto/* 700px */;
    margin-bottom: 5vw;
  }
  #footer01 .foot01Last>.last01>dl:nth-child(1){
    width: 100%/* 270px */ ;
    margin-bottom: 0;
    color: #888889;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    padding: 2vw 0;
  }
  #footer01 .foot01Last>.last01>dl:nth-child(2){
    display: none;
  }

  .last02{
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .last02>dl{
    justify-content: center;
    width: auto;
  }

  .last02>dl>dd{
    display: none;
  }
  .last02>dl:nth-child(5)>dd{
    display: none;
  }

  .last02>p{
    display: none;
  }
}




/* ================모바일=========================== */


/* ================모바일=========================== */


/* ================모바일=========================== */


/* ================모바일=========================== */

@media screen and (max-width:579px){
  /* header */
  #wrap>#header{
    background-color: #eae9e8;
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    z-index: 900;
    margin: 0 auto;

  }
  #header>header{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    position: relative;
    width: 90vw;
  }
  #header>header>h1{
    width: 50%;
    padding:0;
    padding-top: 10px;
    box-sizing:border-box;
    background-color: none;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  #header>header>h1>a{
    display: block;
    width: none;
    text-align: center;
    line-height: 50px;
}

#header>header>p{
  display: block;
  font-size: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
}


  #header>header>nav{
    display: none;
    position: fixed;
    width: 90vw;
    left: 5vw;
    top: 10%;
    border-radius: 15px;
    justify-content: center;
    background-color: silver;
    height: 80%;
  }
  #header>header>nav>.menu01{
    /* display: none; */
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  #header>header>nav>.menu01>li{
    line-height: 0;
    font-size: 20px;
    padding: 10px 0;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    background-color: #333;
    border-radius: 15px;
  }


  nav ul>li>div{
    left:0;  top:0px;
  }
  /* sub01 */
  nav ul>.sub01>div>ul{
    width:80%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px auto 37px;
    background-color: #fff;
  }
  nav ul>.sub01>div>ul>li{
    display: none;
    width: auto;
    height: auto;
    border: none;
    border-left: none;
    padding: 0 0;
  }
  nav ul>.sub01>div>ul>li:first-child{
    border-left: none;
  }
  nav ul>.sub01>div>ul>li a{
  }
  nav ul>.sub01>div>ul>li a>img{
    display: none;
  }

  /* 액티비티 */
  nav ul>.sub02:nth-child(3)>div>div{
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  nav ul>.sub02:nth-child(3)>div>div>ul{
    width: 100%;
    padding: 0 0;
    box-sizing:border-box;
  }
  nav ul>.sub02:nth-child(3)>div>div>dl{
    width: 100%;
    border-left: none;
    box-sizing: border-box;
    padding: 0 0;
  }
  nav ul>.sub02:nth-child(3)>div>div>dl dt{
    display: none;
  }

  /* 예약 */
  nav ul>.sub02:nth-child(4)>div>div{
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  nav ul>.sub02:nth-child(4)>div>div>ul{
    width: 100%;
    padding: 0;
    box-sizing:border-box;
  }
  nav ul>.sub02:nth-child(4)>div>div>dl{
    width: 100%;
    border-left: none;
    box-sizing: border-box;
    padding: 0;

  }
  nav ul>.sub02:nth-child(4)>div>div>dl dt{
    display: none;
  }
  nav ul>.sub02:nth-child(4) dl>dd{
    width: 100%;
  }
  nav ul>.sub02:nth-child(4) dl>dd>a{
    display: inline;
  }
  /*  */
  nav ul>.sub02:nth-child(4) .tagTable{
    border-left: none;
  }
  nav ul>.sub02:nth-child(4) .tagTable>li{
    margin-bottom: 10px;
  }
  nav ul>.sub02:nth-child(4) .tagTable>li a{
    display: block;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: #333;
  }
  nav ul>.sub02:nth-child(4) .tagTable>li:nth-child(2)>ul{
    width: auto;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
  }
  nav ul>.sub02:nth-child(4) .tagTable>li:nth-child(2)>ul>li{
    width:29.3% ;
    /* height: 43px; */
    margin-bottom:10px;
  }

  /* 스토어 */
  nav ul>.sub02:nth-child(5)>div>div{
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  nav ul>.sub02:nth-child(5)>div>div>ul{
    width: 100%;
    padding: 0 0;
    box-sizing:border-box;
  }
  nav ul>.sub02:nth-child(5)>div>div>dl{
    width: 100%;
    border-left: none;
    box-sizing: border-box;
    padding: 0 0;
  }
  nav ul>.sub02:nth-child(5)>div>div>dl dt{
    display: none;
  }

  /* 로그인 */
  nav ul>.sub02:nth-child(6)>div>div{
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  nav ul>.sub02:nth-child(6)>div>div>ul{
    width: 100%;
    padding: 0 0;
    box-sizing:border-box;
  }
  nav ul>.sub02:nth-child(6)>div>div>dl{
    width: 100%;
    border-left: none;
    box-sizing: border-box;
    padding: 0 0;
  }
  nav ul>.sub02:nth-child(6)>div>div>dl dt{
    display: none;
  }
  nav ul>.sub02:nth-child(6)>div>div>ul>li:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #logIn{
    width: 100%;
  }

  #header>header>nav>.menu02{
    width: auto;
  }
  #header>header>nav>.menu02>li{
    width: auto;
  }
  #header>header>nav>.menu02>li:first-child{
    display: none;
  }
  #header>header>nav>.menu02>li{
    text-align: center;
  }



   /* box01 */
   #box01>article{ 
    margin: 0 auto 0;
  }
   #box01>article>header{
    /* width: 780px; */
    /* margin-left: -390px; */
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px 3px #333
  }
  #box01>article>header>h3{
    font-size: 23px;
    margin-bottom: 30px;
    text-align: justify;
  }
  #box01>article>header>p{
    display: none
  }

  #box01>article>div{
    width: 90%;
    position: unset;
    left: 10%; bottom: 0;
    background-color: #333333;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
  }
  #box01>article>div>form{
    margin: 0 auto;
  }
  
  #box01>article>div>form>fieldset>ul{
    width: 90%/* 1130px */;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  #box01>article>div>form>fieldset>ul>li{
    margin-left: 0/* 10px */;
    align-items: center;
  }


  #box01>article>div>form>fieldset>ul>li:nth-child(2){
    width: 100%;
    align-items: center;
  }
  #box01>article>div>form>fieldset>ul>li:nth-child(3){
    width: 100%;
    align-items: center;
  }
  #box01>article>div>form>fieldset>ul>li:nth-child(4){
    width: 100%;
    align-items: center;
  }

  /* #box01>article>div>form>fieldset>ul>li:nth-child(4)>label>span{
    font-size: 8px;
  } */

  #box01>article>div>form>fieldset>ul>li:first-child{
    width: 100%;
    border-bottom: 1px solid #999;
    padding-bottom: 5%;
    margin-bottom: 5%;
  }
  #box01>article>div>form>fieldset>ul>li:first-child>label{
    width: 100%;
    text-align: center;
  }
  #box01>article>div>form>fieldset>ul>li:last-child{
    width: 100%;
    margin-top: 5%;
  }
  #box01>article>div>form>fieldset>ul>li:last-child>input{
    width: 100%;
    background-color: #999;
    border-radius: 30px;
  }

  #box01>article>div>form>fieldset>ul>li>input{
    line-height: 30px;
  }

  #box01>article>div>form>fieldset>ul>li>label{
    /* line-height: 20px; */
    /* font-size: 10px; */
  }


  #box02>article>ul:nth-child(2){
    /* width:1400px; */
    display: none;
  }
  #box02>article>ul.str3{
    display: none;
  }
  #box02>article>p{
    display: none;
  }

  #box02>article{
    margin: 0 auto;
    background-color: #7c5e4e;
    padding-top: 5vw;
    padding-bottom: 5vw;
    width: 100%;
    overflow: hidden;
  }

  #box02>article>ul.str{
    justify-content: space-around;
    width: auto;
    margin: 0 5vw 5%;
  }

  #box02>article>ul.str>li{
    height: auto;
  }

  #box02>article>ul:nth-child(1)>li{
    border: 1px solid #999;
    border-radius: 15px;
  }

  #box02>article>ul.str>li:nth-child(1){
    width: 30%/* 135px */;
    margin-right: 0;
  }
  #box02>article>ul.str>li:nth-child(2){
    width: 30%/* 135px */;
    margin-right: 0;
  }
  #box02>article>ul.str>li:nth-child(3){
    width: 30%/* 135px */;
  }

  #box02>article>ul:nth-child(1)>li>a dl{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    box-sizing: border-box;
  }
  #box02>article>ul:nth-child(1)>li>a dl>dd{
    width: auto;
    height: auto;
    line-height: 20px;
  }

  #box02>article>ul.str>li>a{
    background-size: 0;
    font-size: 13px;
    line-height: 18px;
  }

  #box02>article>ul:nth-child(1)>li:nth-child(1)>a{
    background: none;
  }
  
  #box02>article>ul:nth-child(1)>li:nth-child(2)>a{
    background: none;
  }
  #box02>article>ul:nth-child(1)>li:nth-child(3)>a{
    background: none;
  }

  #box02>article>ul.str>li>a>dl dt{
    display: none;
  }

  /* 갤러리 */

  #gallery>#show{
    /* background-color: green; */
    width: 90vw/* 1000px */;
    height: auto;
    margin-left: 5vw;
  }
  #gallery #all{
    /* 8000 */
    width:800vw;
    position: unset;
  }

  #gallery #all>ul{
    width:400vw/* 4000px */;
  }

  #gallery #all>ul>li{
    width: 90vw/* 300px */;
    height: 100vw;
    margin-right: 5vw;
  }

  #gallery #all>ul>li>div{
    padding-left: 0 /* 500px */;
    background: url(../images/main/main_Room.jpg) no-repeat center;
    background-size: 100%/* 500px */;
    /* padding: 60px 30px; */
    background-color: none;
    box-sizing: border-box;
    padding: 0 5%;
    /* padding-top: 10%;
    padding-right: 2%; */
    border: 1px solid #999;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
  }


  #gallery #all>ul>li>div>p:nth-child(1){
    display: none;
  }
  #gallery #all>ul>li>div .info01{
    display: none;
  }
  #gallery #all>ul>li>div .info02{
    display: none;
  }
  #gallery #all>ul>li>div .info03{
    display: none;
  }
  #gallery #all>ul>li>div>p:nth-child(5){
    display: none;
  }
  #gallery #all>ul>li>div>p:last-child{
    margin-bottom: 10px;
  }
  #gallery #all>ul>li>div>p:last-child>button{
    font-size: 30px;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  
  /* 버튼 */

  #gallery .prev{
    /* display: none; */
    left: 7vw; top: 50vw;
  }
  #gallery .next{
    /* display: none; */
    right: 7vw; top: 50vw;
  }


  /* footer */
  footer{
    padding-top: 0;
  }

  footer #footer01{
    width: 98%/* 1400px */;
    margin: 0 auto;
    padding-left: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: none;
  }
  footer #footer01>div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
  }

  footer #footer01>div:first-child>dl{
    width: 100%;
  }

  footer #footer01>div:first-child dt{
    border-bottom: 1px solid #999;
    width: 100%;
    box-sizing: border-box;
    line-height: 10vw;
    margin-bottom: 0;
  }

  footer #footer01>div:first-child dd{
    display: none;
  }

  footer #footer01>ul{
    justify-content: center;
    margin-bottom: 0;
    flex-wrap: wrap;
  }
  footer #footer01>ul>li:first-child{
    font-weight: normal; 
    border-left: none;
  }
  footer #footer01>ul>li:first-child>a{
    border-left: none;
  }
  footer #footer01>ul>li{
    text-align: center;
    margin-right: 0;
    width: 150px;
    padding: 1vw 0;
  }
  footer #footer01>ul>li>a{
    line-height: 10vw;
    display: block;
    border-left: none;
    font-size: 12px;
  }


  #footer01 .foot01Last{
    display: flex;
    border-top: 1px solid #888889;
    padding-top: 0;
    flex-direction: column;
    align-items: center;
  }

  #footer01 .foot01Last>.last01{
    width: auto/* 700px */;
    margin-bottom: 5vw;
  }
  #footer01 .foot01Last>.last01>dl:nth-child(1){
    width: 100%/* 270px */ ;
    margin-bottom: 0;
    color: #888889;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    padding: 2vw 0;
  }
  #footer01 .foot01Last>.last01>dl:nth-child(2){
    display: none;
  }


  footer #footer02>ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  footer #footer02>ul>li{
    text-align: center;
    width: 100px;
    padding: 0 10px;
  }


  .last02{
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .last02>dl{
    justify-content: center;
    width: auto;
  }

  .last02>dl>dd{
    display: none;
  }
  .last02>dl:nth-child(5)>dd{
    display: none;
  }

  .last02>p{
    display: none;
  }
}